

.section6{
    background: rgb(27,247,86);
    background: linear-gradient(129deg, rgba(27,247,86,1) 2%, rgba(170,2,241,1) 54%, rgba(0,1,37,1) 98%);
    /* height: 40vh; */
}









@media (min-width: 768px) {
    .section6{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    hr{
        display: none;
    }
}





